<div id="comment-<%= comment.id %>" class="comment">
  <div class="col-sm-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to comment.user.username, "#" %><%= t "user.review.comment.commented" %>
        <span class="text-muted">
          <em>
            <abbr title="<%= comment.created_at %>">
              <%= time_ago_in_words comment.created_at %>
            </abbr>
          </em>
        </span>
      </div>
      <div class="panel-body">
        <%= comment.content %>
      </div>
    </div>
  </div>
</div>
