<div class="comments">
  <li id="comment-<%= comment.id %>">
    <%= link_to gravatar_for(comment.user, size: Settings.avatar.comment_size),
      comment.user %>
    <span class="user"><%= link_to comment.user.username, comment.user %></span>
    <span class="content"><%= comment.content %></span>
    <span class="timestamp">
      <%= t "user.review.comment.commented" %>
      <%= time_ago_in_words comment.created_at %>
    </span>
  </li>
</div>
