<div class="row">
  <div class="col-md-9">
    <div class="col-md-3">
      <%= gravatar_for @user, size: Settings.avatar.size %>
    </div>
    <div class="col-md-6">
      <h4><%= t "user.profile" %></h4>
      <h5><%= t "user.username" %>: <%= @user.username %></h5>
      <h5><%= t "user.email" %>: <%= @user.email %></h5>
      <h5><%= t "user.role" %>:
        <span class="label label-<%= @user.admin? ? 'danger' : 'success' %>">
          <%= @user.admin? ? t("admin.name") : t("user.name") %>
        </span>
      </h5>
      <div class="stats">
        <a href="#">
          <strong id="following" class="stat">
            <%= @user.following.count %>
          </strong>
          <%= t "user.followings" %>
        </a>
        <a href="#">
          <strong id="followers" class="stat">
            <%= @user.followers.count %>
          </strong>
          <%= t "user.followers" %>
        </a>
      </div>
      <%= render "follow_form" %>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-8">
    <%= render "tab" %>
  </div>
  <div class="col-md-4" id="activity-id">
    <%= render "activities" if @activities.present? %>
  </div>
</div>
