<div class="col-xs-12 col-sm-12 col-md-12">
  <hr>
  <h2 class="module-title"><span><%= t "book.review" %></span></h2>
  <ul class="review-list">
    <% @reviews.each do |review| %>
      <li class="review-list-li">
        <section class="paper">
          <div class="row">
            <div class="col-md-2 col-sm-2 text-center">
              <%= image_tag(review.user.avatar ,
                width: Settings.books.avatar_width, class: "img-circle") %>
              <span><%= review.user.username%></span>
            </div>
            <div class="col-md-10 col-sm-10">
              <h5><%= review.user.username%></h5>
              <p><%= time_ago_in_words review.created_at %></p>
              <p><%= review.content %></p>
              <%= t "book.reply" %>
            </div>
          </div>
        </section>
      </li>
    <% end %>
  </ul>
</div>
