<div class="container-fluid">
  <div class="row">
    <hr>
    <ul class="breadcrumb">
      <li><%= link_to t(:home), root_path %></li>
      <li><%= t "book.category" %></li>
      <li class="active"><%= @book.category.name %></li>
    </ul>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= render "detail" %>
    </div>
    <div class="col-md-4">
      <div class="new_review">
        <%= render "reviews/form_review", review: @new_review %>
      </div>
    </div>
  </div>
  <h2><%= t "user_review" %></h2>
  <div class="reviews">
    <%= render @reviews.order_reviews %>
  </div>
  <%= will_paginate @reviews %> 
</div>
