<% form_id = "book_#{@book.id}_rating" %>
<%= form_for review, html: {class: "star_rating_form", multipart: true} do |f| %>
  <%= f.hidden_field :book_id, value: @book.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :rate, id: "#{form_id}", value: 0 %>
  <%= f.label :rate %><br>
  <div class="star" id="star">
    <% (1..5).each do |i| %>
      <li class="rating_star" id="<%= "#{form_id}_#{i}" %>" data-form-id="<%= form_id %>" data-rating="<%= i %>"></li>
    <% end %></br>
  </div>

  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control", required: true %>

  <%= f.label :content %>
  <%= f.text_area :content, class: "form-control", required: true %><br>

  <%= f.submit t "submit", class: "btn btn-primary pull-right" %>

<% end %><br>
