<div class="row">
  <div class="col-md-12">
    <h4><strong><%= review.title %></strong></h4>
    <p class="text-left"><em><%= t "reviews.created_by" %>
      <%= link_to "#{review.user.username}", review.user %></em>
    </p>
    <div class="show-rating-review">
      <%= render "books/star", rate: review.rate %>
    </div>
    <p><%= review.content %></p>
    <p>
      <% if can? :update, review %>
        <%= link_to t("user.edit"), edit_review_path(review), class: "btn btn-primary" %>
        <%= link_to t("user.delete"), review_path(review),
          method: :delete, data: {confirm: t("messages.confirm")}, class: "btn btn-danger" %>
      <% end %>
    </p>
  </div>
</div>
