<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t(:home), root_path %></li>
          <li><%= link_to t(:help), help_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to t("book.header"), books_path %></li>
            <li><%= link_to t("book.favorite.header"), favorites_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t "user.request.header.header" %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to t("user.request.header.index"), requests_path %>
                </li>
                <li>
                  <%= link_to t("user.request.header.new"), new_request_path %>
                </li>
              </ul>
            </li>
            <% if current_user.admin? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= t "admin.name" %><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to t("admin.request.index"), admin_requests_path %>
                  </li>
                </ul>
              </li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.username %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to t("user.profile"), user_path(current_user) %>
                </li>
                <li>
                  <%= link_to t("user.setting"), edit_user_registration_path %>
                </li>
                <li>
                  <%= link_to t(:sign_out), destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t(:sign_in), new_user_session_path %></li>
            <li><%= link_to t(:sign_up), new_user_registration_path %></li>
          <% end %>
        </div>
      </ul>
    </nav>
  </div>
</header>
